
:root{
  --bg-color: #fffae6;
  --accent-teal: #A3BCB6;

  --main-text: #1A222F;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--main-text);
  font-family: 'Courier New',Courier,monospace;
}

h1{
  font-size: 2.5rem;
}

.margin-3{
  margin-top: 2rem;
}


/* Header Styles */
header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
  font-family: 'ltc-bodoni-175', serif;
  width: 100%;
  height: 40vh;
  max-height: 45vh;
  background-image: url("../assets/topography.svg");
  border-bottom: 2.5px dashed #D0DADD;
  color: var(--main-text);
}
header > h1{
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 1.2rem;
}
header > h2{
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 4.3rem;
}
.btm-label{
  box-shadow: inset 0 -18px 0 0 var(--accent-teal);
}

a > .icons {
  position: absolute;
  top:0;
  right: 0;
  margin-bottom: 3.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  color: var(--accent-teal);
  font-size: 2.5rem;
  z-index: 2;
  cursor: pointer;
}

a .icons:hover{
  color: var(--main-text);
  transition: 200ms ease-in;
}



/* Styling for pagination */
.page-item.active .page-link{
  background-color: var(--accent-teal);
  border-color: #7a9e96;
}

.page-link{
  color: #3c403d;
}

.page-link:hover{
  color: var(--main-text);
  border: 1px dashed #7a9e96;
}

/* Form & Label Styling */

.form-label{
  font-size: 1.2rem;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--accent-teal);
}


/* Card Styling */
.box{
  background-color: #fafbfa;
  box-shadow: 15px 10px 0px #bbc4c6, -1px -1px 1px #fafbfa;
}

.note{
  margin-bottom: 15px;
}

.btn{
  color:#fff;
  background-color: var(--accent-teal);
  border-color: #7a9e96;
  font-size: 18px;
  font-weight: bold;
}

.btn:hover{
  background-color: #7a9e96;
  border: 2px dashed var(--accent-teal);
}


.btn-primary:not(:disabled):not(.disabled):active{
  background-color: #D0DADD;
  border-color: var(--accent-teal);
}

/* Footer Styling */

.footer-logo{
  padding-top: 10px;
  max-width: 220px;
}


.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons{
  margin: 3px 5px;
}


